DATABASE_URL=mongodb://127.0.0.1:27017/kasierwebsitee
JWT_ACCESS_SECRET=change-me-access
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=change-me-refresh
JWT_REFRESH_EXPIRES_IN=30d
ADMIN_LOGIN_PHONE=7889893844
ADMIN_LOGIN_PASSWORD=123456
CORS_ORIGIN=http://localhost:3000
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
CLOUDINARY_UPLOAD_FOLDER=kasierwebsitee
